img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
#About{
  margin-top: 5%;
}

h2{
  color: black;
  margin-left: 2%;
}

td{
  text-align: center;
  color: blck;
}

p,h3{
  margin-left: 20%;
  margin-right: 20%;
}
