
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;

}

li {
    float: right;
}

li a {
    display: block;
    color: #232222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    color: #0c4f60;
}

#header {
    background: #fff;
    color: #073656;
    cursor: default;
    height: 3em;
    left: 0;
    line-height: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    border-radius: 6px;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0;
}

#header nav > ul > li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #555f66;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

#header nav > ul > li a:hover.button {
    color: white;
}

#header nav > ul > li a.button {
    color: white;
}

#header nav > ul > li a:hover:not(.button) {
    color: #9b6fdb;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header h1 {
    color: #4e555b;
    font-weight:900;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#total_page{
	 background-color: #ffdd99;

}
/*prima sectiune a paginii home*/

#first-section{
    background-color: #666666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20% 0;
    text-align: center;
    position: relative;
    background-image: url("../images/3.jpg");

}

#first-section h2 {
    font-size: 70px;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: fantasy;
    margin-left:60%;
    color:#2c1066;

}
#first-section p {
    font-size: 30px;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: system-ui;
    margin-left:60%;
    color:#2c1066;

}
#first-section a.more {
   background-color: #000000;
    color: #a3a3a3;
    display: block;
    float: right;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 49px;
    line-height: 49px;
    margin: 0 200px 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 180px;
    z-index: 55;
    border-radius:25px;
}

#first-section a.more:hover{
    background-color: #ce1e00;
    color: #ffffff;

}



/*cod second section pentru pagina home*/
#second-section{
    background-color: #630031;
    margin: 0;
    min-height:auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#second-section div{
    margin:0 auto;
    max-width: 940px;
    overflow: hidden;
    padding: 21px 10px 0;
}
#second-section h1{
    color: #ffffff;
    display: block;
    font-family:system-ui ;
    font-size: 35px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 auto 24px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

#second-section #content{
    color: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 780px;
}
 #second-section h3 {
    background: url("../images/img4.png") repeat;
    color:#409999;
    float: left;
    font-size: 23px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom:10%;
    margin: 50px 0 0;
    min-height: 27px;
    padding: 17px 0 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 940px;
}
#second-section ul{
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 -6px;
    overflow: hidden;
    padding: 0;
    width: auto;
}
#second-section ul li:first-child  {
    padding:0;
}
#second-section ul li{
    border: medium none;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

#second-section ul li a{
    display: block;
    float: none;
    height: 156px;
    margin: 0;
    padding: 0;
    width: 235px;
}

#second-section ul li a img {
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1.0;
    display: block;
    margin: 0;
    padding: 0;
    width:auto;

}

#second-section ul li a img:hover {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* codul pentru third-section */
#third-section{
    background-color: #c45d46;
    margin: 0;
    min-height: 900px;
    overflow: hidden;
    padding: 0;
    width: 100%;

}
#third-section div{
    background-color:#c45d46;
    margin-top:20%;
    max-width: 960px;
    overflow: hidden;
    padding: 32px 0 16px;
}

#third-section div ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}
#third-section div ul li:first-child{
    float: left;
    margin: 0 10px;
    padding: 0;
    width: 460px;
}

#third-section div ul li{
    float: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 20px;
    width: 440px;
}

#third-section div ul li h1{
    color: #FFFFFF;
    font-family: audiowide-regular-webfont;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 44px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: auto;
}
#third-section div ul li a{
    display: block;
    height: 258px;
    margin: 0;
    position: relative;
    padding: 0;
    width: 460px;
}
#third-section div ul li a img{
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1.0;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

#third-section div ul li a:hover img{
    filter: alpha(opacity=70);
    opacity: 0.7;
}
#third-section div ul li a span{
    display: block;
    height: 72px;
    left: 199px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 94px;
    width: 62px;
}

#third-section div ul li ul{
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 440px;
}

#third-section div ul li ul li{
    border-top: 1px solid #280f5e;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 39px 10px 38px 0;
    width: 440px;
}

#third-section div ul li ul li:first-child{
    border: medium none;
    margin: 0;
    padding: 0 0 38px;
    width: 440px;

}
#third-section div ul li ul li a{
    display: block;
    float: left;
    height: 90px;
    margin: 0 20px 0 0;
    padding: 0;
    width: 100px;
}

#third-section div ul li ul li a img{
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1.0;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

#third-section div ul li ul li a img:hover{
    filter: alpha(opacity=70);
    opacity: 0.7;
}

#third-section div ul li ul li h1{
    color: #000000;
    float: right;
    font-family: system-ui;
    font-size: 23px;
    font-weight:bold;
    line-height: 23px;
    margin: 0;
    padding: 5px 0 8px;
    text-align: right;
    text-transform: uppercase;
    width: 310px;
}

#third-section div ul li ul li span{
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 310px;
}

#third-section div ul li ul li a.more{
    background-color: #0e565e;
    color: #ffffff;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
#third-section div ul li ul li a.more:hover{
    background-color: #620031;
}
/* cod pentru fourth-section */
.fourth-section{
    margin:800px;
}

/* styl pentru formulatul de creare a invitaiilor si a eventurilor*/
#firstSectionCreateEvent{
    padding-top: 5%;
    padding-left: 12%;
    padding-bottom: 5%;
    width: 75%;
}

#firstSectionInvitation{
    padding-top: 5%;
    padding-left: 30%;
    padding-bottom: 5%;
    width: 35%;
}

#firstSectionInvitation{
    padding-top: 5%;
    padding-left: 30%;
    padding-bottom: 5%;
    width: 35%;
}

#managerDiv{
    background-color:inherit;
    border: solid;
    border-width: 2px;
    border-color: #ffaa99;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    align: center;

}

#formDiv{
    background-color:white;
    border: solid;
    border-width: 2px;
    border-color: #ffaa99;
    box-shadow: 10px 10px 10px #888888;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    align: center;
    
}

#formDiv > form > h1{
    color:#ffaa99;
    display: block;
    font-size: 250%;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;
}

#formDiv > form > button{
    font: 14px/1.4 "Verdana", Verdana, Arial, sans-serif;
    background-color: #ffaa99;
    border: none;
    color: white;
    padding: 22px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#formDiv > form > button:hover{
    box-shadow:3px 3px 10px #888888;
}

#formDiv > form > button:active{
    background-color: #ffccc1;

}

input {
    font: 14px/1.4 "Verdana", Verdana, Arial, sans-serif;
    background-color: inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: solid;
    border-width: 2px;
    border-color: #ffaa99;
  }
  
  #formDiv > form>label>div {
    padding-top: 10px;
  }

  label {
    color:#ffaa99;
    display: block;
    margin-bottom: 20px;
    padding: 8px;
  }

  textarea {
    font: 14px/1.4 "Verdana", Verdana, Arial, sans-serif;
    background-color: inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: solid;
    border-width: 2px;
    border-color: #ffaa99;
  }

  #formDiv > form > label > select {
    font: 14px/1.4 "Verdana", Verdana, Arial, sans-serif;
    background-color: inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    box-sizing: border-box;
    border: solid;
    border-width: 2px;
    border-color: #ffaa99;
  }


/*codul pentru footer*/
#footer{
    background:#ffdd99;
    padding: 30px 0 30px 0;
}

.copyright {
    font: 15px 'Montserrat', sans-serif;
    color:#3f4349;
    text-align:center;

}

#footer-icon2{
    width:50px;
    height:50px;
    margin-left:48%;
}

.copyright {
    font: 15px 'Montserrat', sans-serif;
    color:#3f4349;
    text-align:center;
    text-align:center;
    font-weight: bold;

}

#footer-icon2{
    width:50px;
    height:50px;
    margin-left:48%;
}

/*cod pentru pagina de statistici*/
 
 #container1{
    background-color:#ffaa99;
    width:100%;
    min-height:auto;

 }
#container1.title{
     background-color:#ffaa99;
     width:100%;
     height:100px;
     margin-top:50px;
}
h1{
    font-weight:bold;
    font-family:Arial;
    padding-top:50px;
    text-align:left;
    margin-left:300px;
    font-family:Georgia, serif;
}
.calendar-views span {
  font-size: 14px;
  font-weight:bold;
  color:#ffffff;
  padding: 6px 14px;
}
.panel-body {
  display: flex;
  height: 340px;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  padding: 39px 0px 41px 26px;
}
.category {
  display: flex;
  flex-direction: column;
}
.category span:first-child {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.6;
  color: #fff;
  margin-bottom: 6px;
}
.category span:last-child {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.chart {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: relative;
}
 
.types {
  display: flex;
  justify-content: space-between;
  width: 215px;
  margin-top: 30px;
  margin-bottom: 50px;
}

 
.dataset-1 {
  animation: raise .8s linear 1;
  transform-origin: bottom;
}
.dataset-2 {
  animation: raise 1.6s linear 1;
  transform-origin: bottom;
}
.dataset-3 {
  animation: raise 1.8s linear 1;
  transform-origin: bottom;
}
 
.lines {
  opacity: 0;
  animation: showlines 0.6s linear 1.6s;
  animation-fill-mode: forwards;  
}
 
@keyframes showlines {
  to { opacity: 0.2; }
}
 
@keyframes showstats {
  to { opacity: 1; }
}
 
@keyframes raise {
  0% { transform: scaleY(0.01); }
  75% { transform: scaleY(1.1); }
  100% { transform: scaleY(1); }
}


#container2{
    background-color:#eeff99;
    width:100%;
    min-height:auto;

 }

#container2.title{
     background-color:#eeff99;
     width:100%;
     height:100px;
     margin-top:50px;
}

.container {
    width: 70%; 
    background-color: #ddd; 
}


.skills {
    text-align: right; 
    padding-right: 20px; 
    line-height: 40px; 
    color: white; 
}
.cabaret 
{width: 90%;
 background-color: #4CAF50;
} 
.futurism {width: 80%;
 background-color: #2196F3;
} 
.maskedball {width: 65%;
 background-color: #f44336;
} 
.other {width: 60%; 
    background-color: #808080;
} 

.container3{
    margin-left:100px;
}

#container4{
    background-color:#edd6a7;
    width:100%;
    min-height:auto;

 }

#container5{
    background-color:#ffffff;
    width:100%;
    min-height:auto;

 }

