
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;

}

li {
    float: right;
}

li a {
    display: block;
    color: #232222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    color: #0c4f60;
}

#header {
    background: #fff;
    color: #073656;
    cursor: default;
    height: 3em;
    left: 0;
    line-height: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header nav > ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#header nav > ul > li {
    border-radius: 6px;
    display: inline-block;
    margin-left: 2em;
    padding-left: 0;
}

#header nav > ul > li a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: #555f66;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

#header nav > ul > li a:hover.button {
    color: white;
}

#header nav > ul > li a.button {
    color: white;
}

#header nav > ul > li a:hover:not(.button) {
    color: #9b6fdb;
}

#header nav > ul > li:first-child {
    margin-left: 0;
}

#header h1 {
    color: #4e555b;
    font-weight:900;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#total_page{
	 background-color: #ffdd99;

}
/*prima sectiune a paginii home*/

#first-section{
    background-color: #666666;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20% 0;
    text-align: center;
    position: relative;
    background-image: url("../images/3.jpg");

}

#first-section h2 {
    font-size: 70px;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: fantasy;
    margin-left:60%;
    color:#2c1066;

}
#first-section p {
    font-size: 30px;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-family: system-ui;
    margin-left:60%;
    color:#2c1066;

}
#first-section a.more {
   background-color: #000000;
    color: #a3a3a3;
    display: block;
    float: right;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 49px;
    line-height: 49px;
    margin: 0 200px 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    width: 180px;
    z-index: 55;
    border-radius:25px;
}

#first-section a.more:hover{
    background-color: #ce1e00;
    color: #ffffff;

}



/*cod second section pentru pagina home*/
#second-section{
    background-color: #630031;
    margin: 0;
    min-height:auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#second-section div{
    margin:0 auto;
    max-width: 940px;
    overflow: hidden;
    padding: 21px 10px 0;
}
#second-section h1{
    color: #ffffff;
    display: block;
    font-family:system-ui ;
    font-size: 35px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 auto 24px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

#second-section #content{
    color: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 780px;
}
 #second-section h3 {
    background: url("../images/img4.png") repeat;
    color:#409999;
    float: left;
    font-size: 23px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom:10%;
    margin: 50px 0 0;
    min-height: 27px;
    padding: 17px 0 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 940px;
}
#second-section ul{
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 -6px;
    overflow: hidden;
    padding: 0;
    width: auto;
}
#second-section ul li:first-child  {
    padding:0;
}
#second-section ul li{
    border: medium none;
    float: left;
    margin: 0;
    padding: 0;
    width: auto;
}

#second-section ul li a{
    display: block;
    float: none;
    height: 156px;
    margin: 0;
    padding: 0;
    width: 235px;
}

#second-section ul li a img {
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1.0;
    display: block;
    margin: 0;
    padding: 0;
    width:auto;

}

#second-section ul li a img:hover {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* codul pentru third-section */
#third-section{
    background-color: #c45d46;
    margin: 0;
    min-height: 900px;
    overflow: hidden;
    padding: 0;
    width: 100%;

}
#third-section div{
    background-color:#c45d46;
    margin-top:20%;
    max-width: 960px;
    overflow: hidden;
    padding: 32px 0 16px;
}

#third-section div ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}
#third-section div ul li:first-child{
    float: left;
    margin: 0 10px;
    padding: 0;
    width: 460px;
}

#third-section div ul li{
    float: left;
    margin: 0 0 0 10px;
    padding: 0 0 0 20px;
    width: 440px;
}

#third-section div ul li h1{
    color: #FFFFFF;
    font-family: audiowide-regular-webfont;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 44px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: auto;
}
#third-section div ul li a{
    display: block;
    height: 258px;
    margin: 0;
    position: relative;
    padding: 0;
    width: 460px;
}
#third-section div ul li a img{
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1.0;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

#third-section div ul li a:hover img{
    filter: alpha(opacity=70);
    opacity: 0.7;
}
#third-section div ul li a span{
    display: block;
    height: 72px;
    left: 199px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 94px;
    width: 62px;
}

#third-section div ul li ul{
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 440px;
}

#third-section div ul li ul li{
    border-top: 1px solid #280f5e;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 39px 10px 38px 0;
    width: 440px;
}

#third-section div ul li ul li:first-child{
    border: medium none;
    margin: 0;
    padding: 0 0 38px;
    width: 440px;

}
#third-section div ul li ul li a{
    display: block;
    float: left;
    height: 90px;
    margin: 0 20px 0 0;
    padding: 0;
    width: 100px;
}

#third-section div ul li ul li a img{
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1.0;
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}

#third-section div ul li ul li a img:hover{
    filter: alpha(opacity=70);
    opacity: 0.7;
}

#third-section div ul li ul li h1{
    color: #000000;
    float: right;
    font-family: system-ui;
    font-size: 23px;
    font-weight:bold;
    line-height: 23px;
    margin: 0;
    padding: 5px 0 8px;
    text-align: right;
    text-transform: uppercase;
    width: 310px;
}

#third-section div ul li ul li span{
    color: #FFFFFF;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 310px;
}

#third-section div ul li ul li a.more{
    background-color: #0e565e;
    color: #ffffff;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
#third-section div ul li ul li a.more:hover{
    background-color: #620031;
}
/* cod pentru fourth-section */
.fourth-section{
    margin:800px;
}
/*codul pentru footer*/
#footer{
    background:#ffdd99;
    padding: 30px 0 30px 0;
}

.copyright {
    font: 15px 'Montserrat', sans-serif;
    color:#3f4349;
    text-align:center;

}

#footer-icon2{
    width:50px;
    height:50px;
    margin-left:48%;
}

.copyright {
    font: 15px 'Montserrat', sans-serif;
    color:#3f4349;
    text-align:center;
    text-align:center;
    font-weight: bold;

}

#footer-icon2{
    width:50px;
    height:50px;
    margin-left:48%;
}

